.productivity-graph-section {
  /* height: 450px; */
  margin-bottom: 40px;
}

.productivity-graph-header {
  margin-bottom: 8px;
}

.productivity-graph-header h2 {
    font-size: 20px;
    font-weight: 700;
    color: #404040;
  margin-bottom: 1rem;
}

.productivity-graph-filters {
  display: flex;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  padding: 0.25rem;
  margin-bottom: 1rem;
  width: fit-content;
}

.productivity-graph-filter-btn {
    border: none;
    background: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    color: #737373;
    transition: color 0.2s ease, background 0.2s ease;
}

/* 포커스 시 테두리 제거 */
.productivity-graph-filter-btn:focus {
    outline: none;
}

.productivity-graph-filter-btn:hover {
    color: #404040;
}

.productivity-graph-filter-btn.active {
    background: white;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.10);
    color: #5A597D;
}

.productivity-graph-filter-btn.active:hover {
    color: #5A597D;
}

.graph-navigation {
  display: flex;
  width: 90%;
  height: 30px;
  /* 부모 콘텐츠에서 중앙 정렬 */
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.productivity-graph-nav-button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: none;
  border: none;
  transition: background-color 0.2s;
  cursor: pointer;
}

.productivity-graph-nav-button:hover {
  background-color: #f3f4f6;
}

.productivity-graph-nav-button:focus {
  outline: none;
}

.productivity-graph-nav-button.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #737373;
}

.graph-period-text {
  height: 30px;
  font-size: 17px;
  font-weight: 600;
  color: #737373;
}

.chart-area {
  height: 200px;
}

.tooltip {
  background-color: white;
  padding: 0.75rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tooltip-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #111827;
}

.tooltip-value {
  font-size: 0.875rem;
  font-weight: 600;
  color: #B4B3DC;
}

.chart-summary {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.summary-box {
  height: 88px;
  box-sizing: border-box;
  padding: 8px 22px;
  border-radius: 0.5rem;
  font-size: 14px;
}

.summary-box.purple {
  /* background-color: #f5f3ff; */
  background-color: #e0def5;
  /* color: #6d28d9; */
  color: #6e6c9b;
}

.summary-box.blue {
  /* background-color: #eff6ff; */
  /* background-color: #DBF4FF; */
  background-color: #d1e5f5;
  /* color: #2563eb; */
  /* color: #256B86; */
  color: #5685b4;
}

.summary-box.green {
  /* background-color: #ecfdf5; */
  background-color: #d7f6de;
  /* color: #059669; */
  color: #447957;
}

.summary-box p {
    margin-top: 9px;
    margin-bottom: 0;
}

.summary-value {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  /* margin-top: 0.25rem; */
}
