/* 메인 컨텐츠 */
.review-section {
  padding: 0px auto;
  display: flex;
  flex-direction: column;
}
/* 메인 컨텐츠내 요소들이 세로가 아니라 가로로 배치되고 있음*/

.tabs {
  /*
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
  */
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.tab-button {
  display: flex;
  padding: 10px 16px;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #d1d5db;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.tab-button:focus {
  outline: none;
}

/*
.tab-button.active {
  color: #4b5563;
  box-shadow: inset 0px -1.5px 0px 0px #5a597d;
}
*/

.tab-button.active {
  width: 99px;
  justify-content: center;
  gap: 10px;
  background: #FFF;
  /* box-sizing: border-box; */

  border-bottom: 4px solid #5A597D;
  border-radius: 0px;
  /*  box-shadow: 0 -1.5px 0 0 #5A597D inset; */
  color: #5A597D;
  
}