/* General Setup */
/* body {
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
} */

.chat-page-container {
  width: 1250px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 20px; Spacing between elements */
}

/* Main Chat Area */
.chat-main-content {
  width: 1250px;
  position: relative;
}

.chat-window-container {
  width: 100%;
}

.chat-window {
  /* align-items: center; */
  /* align-self: stretch; */
  /* margin: 0px auto; */
  display: flex;
  height: 666px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  box-sizing: border-box;
  padding: 33px;
  background: #FAF9FD;
  box-shadow: 0px 4px 20px rgba(108, 107, 147, 0.08);
  border-radius: 24px;
  outline: 1px #E4E3F3 solid;
  outline-offset: -1px;
  overflow: hidden;
  /* overflow: visible; */
}

.chat-scroll-area {
  align-self: stretch;
  height: 600px;
  max-height: 600px;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between messages */
  /* padding-right: 15px; For scrollbar */
  /* 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding-bottom: 10px;
}

/* Chrome, Safari and Opera */
.chat-scroll-area::-webkit-scrollbar {
  display: none;
}

/* Navigation Buttons */
/* 이전으로, 다음으로 */
.nav-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
  /* margin-top: 20px; */
  margin-top: 69px;
}

.nav-button {
  width: 123px;
  height: 57px;
  border-radius: 20px;
  border: none;
  box-shadow: 0px 4px 4px rgba(96, 60, 255, 0.25);
  color: white;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button {
  background: #B4B3DC;
}

.prev-button:hover {
  background: #a3a2c9;
}

.next-button {
  background: #8483AB;
  color: white;
  border-radius: 25px;
}

.next-button:hover {
  background: #5A597D;
}

.loading-message {
  color: #8483AB;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.error-message {  
  color: #FF0000;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

