
.techTag {
    height: 24px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #CCCBE4;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  
  .techTagText {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #5A597D;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
  }